section {
    background: url(../img/photo-1460602594182-8568137446ce.avif);
    background-size: contain;
    color: white;
    text-align: center;
}

article {
    background: url(../img/photo-1603398749947-87246022fbf9.avif);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
}

article p {
    font-size: 14px;
}