* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    height: 100vh;
    ;
}

/* Display Flex immer auf den Eltern Container anwenden! */

.flex__selection {
    height: 100vh;
    background-color: darkolivegreen;
    display: flex;
    /* Justify Content bezieht sich immer auf die Main Axis (Von Rechts nach Links - Cross Axis ist immer von Oben nach Unten (Vertikal) */
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: flex-end;
    justify-content: space-evenly;
    /* Align Items bezieht sich immer auf die Cross Axis */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    /* flex-direction: column; */
    /* Bei Column ändert sich die Axis */
}

.flex__selection div {
    height: 50px;
    width: 50px;
}

.flex__selection div:nth-of-type(1) {
    background-color: bisque;
    /* Mit Align-Self können wir die Flex-Items für bestimmte Elemente ändern! */
    align-self: flex-start;
    /* order: 2; */
}

.flex__selection div:nth-of-type(2) {
    background-color: rgb(149, 92, 21);
    /* order: 1; */
}

.flex__selection div:nth-of-type(3) {
    background-color: rgb(244, 139, 11);
    /* order: 3; */
}

.flex__selection div:nth-of-type(4) {
    background-color: rgb(255, 196, 213);
    align-self: flex-end;
    /* order: 4; */
}

/* main {
    width: 200px;
    height: 200px;
    display: flex;
}

main div {
    flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 1;
}

main div:nth-of-type(2) {
    flex-shrink: 10;
}

main div:nth-of-type(1) {
    flex-basis: 400px;
} */

main ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* GAP ist wie margin in einem normalen display ohne flex */
}

main ul li {
    border: 1px solid red;
}