* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

fieldset {
    border: none;
    flex-grow: 0.3;
}

.name, .email, .theme, .textmessage, .submitButton {
    display: flex;
    flex-direction: column;
}

textarea {
    padding-left: .5rem;
    padding-top: .5rem;
    margin-bottom: .7rem;
}

.messageField, .themeField, .nameField, .mailField {
    font-weight: 800;
    margin-bottom: .5rem;
}

.messageField::after, .mailField:after, .nameField:after {
    content: " *";
    color: red;
}

input[type="submit"] {
    background-color: rgb(15, 92, 143);
    padding: 0.4rem;
    color: white;
}

.textmessage, .theme, .email {
    margin-top: 1vh;
}

#selectStyle, #mailStyle, #nameStyleOne, #nameStyleTwo {
    height: 2rem;
}

.namefields {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
}

#nameStyleOne, #nameStyleTwo {
    width: 50%;
}


#selectStyle {
    padding-left: .5rem;
}

::placeholder {
    padding-left: .5rem;
}

#textareaStyle::placeholder {
    padding-left: 0rem;
}