* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
p {
    margin: 10px;
}

.pets {
    border: 1px solid grey;
    font-size: 2rem;
    width: 95%;
    height: fit-content;
    margin: 10px;
}

ul {
    padding-inline-start: 1.2em;
}

section ul li {
    font-size: 0.8em;
}

sectiom ul li ul li {
    font-size: 0.2em;
}

li {
    line-height: 1.5em;
}

.dog {
    list-style: "🐶";
}

.cat {
    list-style: "🐱";
}

.parrot {
    list-style: "🐥";
}

.snake {
    list-style: "🐍";
}

.lizzard {
    list-style: "🦎";
}